.zui-btn{
	position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.10rem;
    box-sizing: border-box;
    font-size: 0.34rem;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 2.55555556;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}
.zui-btn-primary{
	background:$main-color;
	border-radius:0.50rem;
}